# Ignore PyCharm project files
.idea/
.idea/misc.xml

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db