* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    max-width: 100%;
}

header {
    background-color: #274ecddc;
    color: #fff;
    padding-top: 16px;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #2a6eeb;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    border-bottom: 16px solid #211f97;
}

nav li {
    list-style: none;
    margin-right: 16px;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: #fff;
}
.hamburgerMenu {
    width: 32px;
}

.hamburgerMenu span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
}

