* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

header , footer {
    background-color: #132972dc;
    color: #fff;
    padding-top: 16px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #235dc9;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    margin-right: 16px;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: #fff;
}
.hamburgerMenu {
    width: 32px;
    cursor: pointer;
}

.hamburgerMenu span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
}

.containerFlex {
    display: flex;
}

#aboutStore img {
    max-width: 400px;
    margin-right: 24px;
} 

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.vehicleList {
    flex-wrap: wrap;
}

.vehicleList li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.vehicleList li img {
    max-width: 100%;
    width: 400px;
    height: 200px;
}

.vehicleList li h3 {
    margin: 16px 0;
}

.centralItem {
    margin: 0 5%;
}

button {
    background-color: #235dc9;
    color: #fff;
    width: 100%;
    border: none;
    display: block;
    padding: 8px 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 6px;
}

.price{
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
}

.contactField {
    margin-bottom: 16px;
}

.contactField label {
    display: block;
    font-weight: bold;
}

.contactField input,
.contactField textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
}

.contactField textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}
